<h2> Log In </h2>

<form id="form" action="/validate-login" method="post">

  <label for="email-entry"> Email </label>
  <input id ="email-entry" name="loginEmail" type="email" placeholder="name@example.com">
  <br>

  <label for="password-entry"> Password </label>
  <input id ="password-entry" name="loginPassword" type="password" placeholder="******">
  <br>

  <button> Log In </button>
</form>
