<h2> Sign Up </h2>

<form id="form" action="/validate-signup" method="post">

  <label for="email-entry"> Emal </label>
  <input id ="email-entry" name="signupEmail" type="email" placeholder="name@example.com">
  <br>

  <label for="password-entry"> Password </label>
  <input id ="password-entry" name="signupPassword" type="password" placeholder="******">
  <br>

  <button> Sign Up </button>
</form>
